.basic-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffff;

    .cursor-move {
        cursor: move;
    }

    .bl-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 20px;
        background-color: #fddf;

        .title-container {
            display: flex;

            .checkbox-input {}

            .title-input {
                width: 100%;
            }
        }

        .tool-container {
            display: flex;
            justify-content: flex-end;

            .tool-btn {
                width: 20px;
                height: 20px;
                border: 1px solid;
                cursor: pointer;
                border-radius: 0.3rem;
                background-color: #ffef;
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .tool-btn:hover {
                background-color: #aaaf;
            }

            .tool-btn:active {
                background-color: #eeef;
            }
        }

    }

    .bl-body {
        width: 100%;
        height: 100%;
        background-color: #4af5;
    }

    .mouse-move-area {
        position: absolute;
        right: -9px;
        bottom: -2px;
        color: #0008;
    }
}