.gnb {
    .gnb-menu {
        .gnb-menu-list li .ant-select-selection-item {
            color: white !important;
            font-size: 11px !important;
        }
        .gnb-menu-list li a {
            color: white;
        }
    }
}